# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# == vim swap files == #
*.sw*

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# == project == #
Assets/scenes/sandboxes/*.unity*
Assets/IgnoreByGit/
.vs/
Assets/AssetStoreTools.meta
Assets/AssetStoreTools/Editor.meta
Assets/AssetStoreTools/Editor/AssetStoreTools.dll
Assets/AssetStoreTools/Editor/AssetStoreTools.dll.meta
.idea/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Garbage/
Assets/Garbage.meta
